<!DOCTYPE html>
<html>
<head>
<style>
body {
margin: 0;
padding: 0;
font-family: Arial, sans-serif;
}
.header {
background-color: #333;
color: #fff;
padding: 10px;
display: flex;
justify-content: space-between;
align-items: center;
}
.username {
margin-left: auto;
margin-right: 10px;
}
.logout-btn {
padding: 8px 20px;
font-size: 16px;
border-radius: 5px;
background-color: #fff;
color: #333;
border: none;
cursor: pointer;
}
.logout-btn:hover {
background-color: #ddd;
}
</style>
</head>
<body style="background-color: white;">
<div class="header">
    <a href="/monitoring/home" class="logout-btn">На главную</a>
    <div class="username"> {{username}} </div>
    <a href="/monitoring/logout" class="logout-btn">Выйти</a>
</div>
<!--<div style="display: flex; justify-content: center">-->
<!--</div>-->
{% block content%} {% endblock %}

</body>

</html>
