<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Отправка файла на сервер</title>
 </head>
 <body>
  <form method="post" enctype="multipart/form-data"> {% csrf_token %}
   <p><input type="file" name="file">
   <input type="submit" value="Отправить"></p>
  </form>
 </body>
</html>