<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Access Denied</title>
    <style>
        body {
            background-color: #f2f2f2;
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            text-align: center;
        }
        h1 {
            color: #ff0000;
            margin-top: 50px;
        }
        p {
            color: #333;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Доступ запрещен</h1>
        <p>У вас нет доступа к этой странице. Вы будете перенаправлены через 5 секунд.</p>
    </div>
</body>
</html>

<script src="{% static 'timer_for_access.js'%}"></script>
