<!DOCTYPE html>
{% extends 'menu.html' %}
{% load static %}

<html>
{% block content%}
<head>
    <title>Real-time Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

    <div style="width: 50%; float: left; margin-top: 100px;">
        <canvas id="myChart"></canvas>
    </div>

    <div style="width: 45%; float: right; margin-top: 50px;">

        <form method="post">
            {% csrf_token %}
            <div style="margin: 100px; padding: 10px; border: 2px solid black; display: inline-block;">
                <label for="start_datetime">Начальная дата и время:</label><br>
                {{ form_voltage.start_datetime }}<br><br>
                <label for="end_datetime">Конечная дата и время:</label><br>
                {{ form_voltage.end_datetime }}<br><br>
                <input type="submit" name="download_excel_voltage" value="Загрузить файл">
            </div>
        </form>

    </div>

    <script src="{% static 'voltage_chart.js'%}"></script>

</body>
{% endblock %}
</html>