<!DOCTYPE html>
<html>
{% extends 'menu.html' %}
{% block content %}
<head>
    <meta charset="utf-8"/>
    <style>
        .chat-container {
            display: flex;
            flex-direction: column;
            /*align-items: center;*/
            /*justify-content: center;*/
            height: 40vh;
            width: 50%;
            border: 1px solid #ccc;
            padding: 10px;
            overflow-y: auto;
            resize: both;
        }

        .chat-message {
            margin-bottom: 10px;
            word-wrap: break-word; /* Перенос текста на новую строку */
        }

        .chat-user {
            font-weight: bold;
            color: darkgreen;
            margin-bottom: 5px;
        }
        #user-list {
            border: 1px solid #ccc;
            padding: 10px;
            margin-top: 10px;
            width: calc(30% - 22px); /* Ширина блока справа */
            position: fixed;
            right: 0;
            top: 150px; /* Указать нужное значение от верхнего края */
            height: calc(40vh - 20px); /* Высота блока справа */
            overflow-y: auto;
        }
        #user-title {
            /*border: 2px solid #333333;*/
            padding: 10px;
            margin-top: 10px;
            width: calc(30% - 22px); /* Ширина блока справа */
            position: fixed;
            right: 0;
            top: 90px; /* Указать нужное значение от верхнего края */
            height: calc(5vh - 20px); /* Высота блока справа */
            /*overflow-y: auto;*/
        }
    </style>

    <title>Чат сотрудников</title>

</head>
<body>
    <div class="chat-container" id="chat-log"></div><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
    <div id="user-title">
        <h4>Подключенные пользователи</h4>
    </div>
    <div id="user-list"></div>
</body>

<script>
    // var roomName = {{ room_name_json }};
    var roomName = JSON.parse('{{ room_name_json|escapejs|safe }}');
    var username = '{{ username|escapejs|safe }}';
    const userList = document.getElementById('user-list');


    var chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/chat/' + roomName + '/');


chatSocket.onopen = function() {
    chatSocket.send(JSON.stringify({
        'username_joined': username
    }));
};


chatSocket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
};

let users = [];

chatSocket.onmessage = function(e) {
    var data = JSON.parse(e.data);
    var message = data['message'];
    var username = data['username'];
    var online_users = data['online_users'];
    var chatLog = document.querySelector('#chat-log');
    var messageElement = document.createElement('div');
    var userElement = document.createElement('div'); // Создаем элемент для имени пользователя
    userElement.classList.add('chat-user');
    userElement.textContent = username; // Устанавливаем имя пользователя
    messageElement.classList.add('chat-message');
    messageElement.textContent = message;
    messageElement.prepend(userElement); // Добавляем имя пользователя перед сообщением
    chatLog.appendChild(messageElement);
    chatLog.scrollTop = chatLog.scrollHeight;

    function updateUsers(usernames) {
    // Очищаем текущий список пользователей
    users = [];
    userList.innerHTML = ''; // Очищаем содержимое элемента списка пользователей

    // Добавляем новых пользователей в список и отображаем их
    usernames.forEach(username => {
        users.push(username);
        const userDiv = document.createElement('div');
        userDiv.textContent = username;
        userList.appendChild(userDiv);
    });
    }

    updateUsers(online_users);

};


    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'username': username
        }));

        messageInputDom.value = '';
    };
</script>
</html>
{% endblock %}