{% extends 'menu.html' %}
{% block content%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
    <style>
        .input-field {
            width: 50%;
            padding: 10px;
            margin: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .submit-btn {
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;
            background-color: #333;
            color: #fff;
            border: none;
            cursor: pointer;
        }
        .submit-btn:hover {
            background-color: #555;
        }
        .centered-div {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #f0f0f0;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="centered-div">
        <p>Введите имя комнаты для создания/подключения.</p>
        <input id="room-name-input" class="input-field" oninput='this.value=this.value.replace(/[^\w\d]*/gi,"");' type="text" size="50"/><br/>
        <input id="room-name-submit" class="submit-btn" type="button" value="Enter"/>
    </div>

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/monitoring/' + roomName + '/';
        };
    </script>
</body>
</html>
{% endblock %}