<!DOCTYPE html>
<html lang="ru">
{% extends 'menu.html' %}
{% load static %}

{% block content%}
<h1 style="color: brown; margin-bottom: 20px;text-align: center">Страница инженера</h1>
<div style="display: flex;">
    <div style="width: 50%; overflow-x: auto; overflow-y: auto; height: 500px;">
        <table id="dataTable" style="width:100%; text-align: center; font-size: large; border-collapse: collapse;">
            <tr>
                <th style="border: 1px solid black;">ID Person</th>
                <th style="border: 1px solid black;">ID Equipment</th>
                <th style="border: 1px solid black;">Date</th>
            </tr>

            <script>
            window.onload = function() {
                let data = JSON.parse('{{ schedule|escapejs|safe }}');
                let table = document.getElementById('dataTable');

                for (let item of data) {
                    let row = table.insertRow();
                    let cell1 = row.insertCell();
                    let cell2 = row.insertCell();
                    let cell3 = row.insertCell();
                    cell1.innerHTML = item.id_person;
                    cell2.innerHTML = item.id_equipment;
                    cell3.innerHTML = item.date;
                    cell1.style.border = '1px solid black';
                    cell2.style.border = '1px solid black';
                    cell3.style.border = '1px solid black';
                }
            }
            </script>

    </table>
    </div>
    <div style="margin-left: 100px; text-align: right;">

        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}

            <p><button type="submit" name="add" style="background-color: green; color: white; padding: 10px 20px;
            border: none; border-radius: 4px;">Добавить запись</button></p>
            <p><button type="submit" name="delete" style="background-color: red; color: white; padding: 10px 20px;
            border: none; border-radius: 4px;">Удалить запись</button></p>
        </form>
    </div>
</div>
{% endblock %}
</html>
