<!DOCTYPE html>
<html>
{% extends 'menu.html' %}
<head>
</head>
<!--<body style="background-color: lightblue; display: flex; justify-content: center; align-items: center; height: 1000vh;">-->
{% block content %}
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <button style="margin: 10px; padding: 20px 40px; font-size: 20px; border-radius: 5px;
     background-color: lightgray; color: black; text-decoration: none; display: inline-block;"
            onmouseover="this.style.backgroundColor='gray';this.style.color='white';"
            onmouseout="this.style.backgroundColor='lightgray';this.style.color='black';"
            onclick="window.location.href='/monitoring/analytic'">Страница аналитика</button>
    <button style="margin: 10px; padding: 20px 40px; font-size: 20px; border-radius: 5px;
     background-color: lightgray; color: black; text-decoration: none; display: inline-block;"
            onmouseover="this.style.backgroundColor='gray';this.style.color='white';"
            onmouseout="this.style.backgroundColor='lightgray';this.style.color='black';"
            onclick="window.location.href='/monitoring/engineer'">Страница инженера</button>
    <button style="margin: 10px; padding: 20px 40px; font-size: 20px; border-radius: 5px;
        background-color: lightgray; color: black; text-decoration: none; display: inline-block;"
        onmouseover="this.style.backgroundColor='gray';this.style.color='white';"
        onmouseout="this.style.backgroundColor='lightgray';this.style.color='black';"
        onclick="window.location.href='/monitoring/room'">Чат сотрудников</button>
</div>
{% endblock %}
<!--</body>-->
</html>
