<div style="background-color: #f2f9f2; display: flex; justify-content: center; align-items: center; height: 100vh;">
  <div style="text-align: center; padding: 20px; border: 1px solid #ccc; border-radius: 8px; max-width: 400px;">
    <h1 style="color: green; margin-bottom: 20px;">Авторизация</h1>

    {% for message in messages %}
    <div class="message {{ message.tags }}">
    {{ message }}
    </div>
    {% endfor %}

    <form method="POST">
      {% csrf_token %}
      {{form.as_p}}

      <p><button type="submit" style="background-color: green; color: white; padding: 10px 20px;
       border: none; border-radius: 4px;">Войти</button></p>

      <p><a href="/monitoring/register" style="color: green;
       font-size: 14px;">Регистрация</a></p>
    </form>

  </div>
</div>