<div style="background-color: #f2f9f2; display: flex; justify-content: center; align-items: center; height: 100vh;">
  <div style="text-align: center; padding: 20px; border: 1px solid #ccc; border-radius: 8px; max-width: 400px;">
{% block content %}
<h1 style="color: green; margin-bottom: 20px;">Регистрация</h1>

{% for message in messages %}
    <div class="message {{ message.tags }}">
    {{ message }}
    </div>
    {% endfor %}

<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    {{form.as_p}}
    <p><button type="submit" style="background-color: green; color: white; padding: 10px 20px;
       border: none; border-radius: 4px;">Регистрация</button></p>
</form>
{% endblock %}
  </div>
</div>